<template>
  <div class="coins">
    <BackBtn />
    <div class="col-12 v-align-center">
      <transition name="slide-fade">
        <div class="col-12 input">
          <label for="smsCode">Введите промокод</label>
          <input id="smsCode" v-model="promoCode" v-mask="'## ## ##'" class="text-center" />
        </div>
      </transition>

      <div class="col-12 mt-4 text-center">
        <Button @click="addPromo" text="Сохранить" />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import BackBtn from "@/components/BackBtn";
import Button from "@/components/Button";
export default {
  components: {
    Header,
    Button,
    BackBtn
  },
  data() {
    return {
      promoCode: "",
      steps: 0
    };
  },
  methods: {
    addPromo() {
      this.$http
        .post("http://176.107.160.115:5001/api/game/start", {
          GameCode: this.promoCode
        })
        .then(responce => {
          this.$router.go(-1);
        });
    }
  }
};
</script>

<style scoped>
.input {
  text-align: center;
  margin-top: 1rem;
}
.input input {
  color: #dba514;
  padding: 0.3em;
  border: 2px solid #dba514;
  border-radius: 10px;
  font-size: 18pt;
  text-align: left;
  font-weight: 600;
  width: 16rem;
  margin: 0 auto;
  background-color: #004284;
}

.coins {
  height: 100%;
  background-image: url("~assets/img/bg-1.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat-y: no-repeat;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  color: #dba514;
}
label {
  text-align: left !important;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #dba514;
}

.v-align-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}
</style>
