<template>
  <div class="coins">
    <div class="col-12">
      <Header align="center" color="#DBA514" title="Регистрация" heading="h5" />
    </div>

    <div class="col-12 v-align-center">
      <transition name="slide-fade">
        <div class="col-12 input">
          <label for="phone">Введите номер телефона</label>
          <input id="phone" v-model="phoneNumber" v-mask="'+998 (9#)-###-##-##'" />
        </div>
      </transition>

      <transition name="slide-fade">
        <div class="col-12 input" v-show="smsForm">
          <label for="smsCode">Введите смс код</label>
          <input id="smsCode" v-model="smsCode" v-mask="'## ## ##'" class="text-center" />
        </div>
      </transition>

      <div class="col-12 mt-4 text-center">
        <Button @click="register" text="Далее" />
        <small class="caption">Нажимая кнопку далее вы соглашаетесь с условиями лицензии</small>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Button from "@/components/Button";
export default {
  components: {
    Header,
    Button
  },
  data() {
    return {
      phoneNumber: "+998 (9",
      smsCode: "",
      smsForm: false,
      steps: 0
    };
  },
  methods: {
    register() {
      if (this.steps == 0) {
        let phone = "+";
        for (let i = 0; i < this.phoneNumber.length; i++) {
          if (this.phoneNumber[i] >= "0" && this.phoneNumber[i] <= "9") {
            phone += this.phoneNumber[i];
          }
        }

        // смс-ка в любом случае будет нужна
        this.$axios
          .post("http://176.107.160.115:5001/api/auth/sendcode", {
            PhoneNumber: phone
          })
          .then(response => {});

        // console.log(phone);
        this.$axios
          .post("http://176.107.160.115:5001/api/auth/isregistered", {
            PhoneNumber: phone
          })
          .then(response => {
            if (response.data.data.isRegistered === true) {
              this.steps++;
              this.smsForm = true;
            } else {
              this.$router.push({
                name: "register-second",
                params: { phone: phone }
              });
            }
          });
      } else if (this.steps == 1) {
        let phone = "+";
        let code = this.smsCode.split(" ").join("");
        console.log(code);
        for (let i = 0; i < this.phoneNumber.length; i++) {
          if (this.phoneNumber[i] >= "0" && this.phoneNumber[i] <= "9") {
            phone += this.phoneNumber[i];
          }
        }
        this.$axios
          .post("http://176.107.160.115:5001/api/auth/authorize", {
            PhoneNumber: phone,
            VerificationCode: code
          })
          .then(response => {
            this.$store
              .dispatch("user/login", response.data.data.token)
              .then(() => {
                this.$router.push("/");
              });
          });
      }
    }
  }
};
</script>

<style scoped>
.input {
  text-align: center;
  margin-top: 1rem;
}
.input input {
  color: #dba514;
  padding: 0.3em;
  border: 2px solid #dba514;
  border-radius: 10px;
  font-size: 18pt;
  text-align: left;
  font-weight: 600;
  width: 18rem;
  margin: 0 auto;
  background-color: #004284;
}

.coins {
  height: 100%;
  background-image: url("~assets/img/bg-1.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat-y: no-repeat;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  color: #dba514;
}
label {
  text-align: left !important;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #dba514;
}

.v-align-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}
</style>
