<template>
  <div class="coins">
    <div class>
      <Header align="center" color="#DBA514" title="Регистрация" heading="h5" />
    </div>

    <div class>
      <div class="col-12 file">
        <label for="photo"></label>
        <input type="file" id="photo" @change="attachPhoto" />
      </div>

      <div class="col-12 input">
        <label for="smsCode">Имя и фамилия</label>
        <br />
        <input v-model="user.fio" class="text-center" />
      </div>
      <div class="col-12 input">
        <label for="smsCode">Ваш Город</label>
        <br />
        <input v-model="user.city" class="text-center" />
      </div>
      <div class="col-12 input">
        <label for="smsCode">Год рождения</label>
        <br />
        <input v-model="user.birthDate" class="text-center" />
      </div>
      <div class="col-12 input">
        <label for="smsCode">Ваш Пол</label>
        <br />
        <input v-model="user.gender" class="text-center" />
      </div>
      <div class="col-12 input">
        <label for="smsCode">Введите смс код</label>
        <input v-model="smsCode" v-mask="'## ## ##'" class="text-center" />
      </div>

      <div class="mt-4 text-center">
        <Button @click="save" text="Сохранить" />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Button from "@/components/Button";
export default {
  components: {
    Header,
    Button
  },
  data() {
    return {
      user: {
        fio: "",
        city: "",
        birthDate: "",
        gender: "",
        smsCode: ""
      },
      phoneNumber: "+998 (9",
      smsCode: "",
      smsForm: false,
      steps: 0
    };
  },
  methods: {
    save() {
      let code = this.smsCode.split(" ").join("");
      this.$axios
        .post("http://176.107.160.115:5001/api/auth/register", {
          PhoneNumber: this.$route.params.phone,
          VerificationCode: code,
          FirstName: this.user.fio,
          LastName: "",
          BornDate: "2020-03-10T16:20:04.990Z",
          Gender: this.user.gender,
          City: this.user.city
        })
        .then(response => {
          this.$store
            .dispatch("user/login", response.data.data.token)
            .then(() => {
              this.$router.push("/");
            });
        });
    },
    attachPhoto(event) {
      this.user.photo = event.target.files[0];
    }
  }
};
</script>

<style scoped>
.input,
.file {
  text-align: center;
  margin-top: 0.8rem;
}
.file input[type="file"] {
  display: none;
}
.file label {
  color: #dba514;
  /* margin: 50%; */
  border: 2px solid #dba514;
  border-radius: 50%;
  font-weight: 600;
  width: 6rem;
  height: 6rem;
  background-color: #004284;
}

.file label::before {
  content: url("~assets/img/camera-solid.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input input {
  color: #b19853;
  padding: 0.2em;
  border: 2px solid #dba514;
  border-radius: 10px;
  font-size: 18pt;
  text-align: left;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
  background-color: #004284;
}

.coins {
  height: 100%;
  background-image: url("~assets/img/opacity-bg.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat-y: no-repeat;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  color: #dba514;
}
label {
  text-align: left !important;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #dba514;
}

.v-align-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}
</style>
