<template>
  <div>
    <button
      @click="$emit('click')"
      class="btn-default"
      :style="{'text-align': align, 'width': width}"
    >{{ text }}</button>
  </div>
</template>
<script>
export default {
  props: {
    text: { type: String, default: "Далее" },
    fullWidth: { type: Boolean, default: false }
  },
  mounted() {
    if (this.fullWidth) {
      this.align = "left";
      this.width = "100%";
    }
  },
  data() {
    return {
      align: "center",
      width: "none"
    };
  }
};
</script>
<style scoped>
.btn-default {
  color: #043e5d;
  padding: 0.3em;
  border: 0.15em solid #b78628;
  border-radius: 0.8em;
  font-size: 1rem;
  font-weight: 700;

  background-image: linear-gradient(#fcc201, #dba514);
  text-transform: uppercase;
  box-shadow: none;
  outline: none;
  transition: 0.2s;
}
.btn-default:active {
  transform: scale(0.98);
  transition: 0.2s;
}
</style>