<template>
  <component :is="heading" class="header" :style="{'color': color, 'text-align': align}">{{title}}</component>
</template>
<script>
export default {
  name: "headx",
  props: {
    title: String,
    heading: String,
    color: { type: String, default: "#dba514" },
    align: String
  }
};
</script>
<style lang="css">
</style>