<template>
  <div class="list">
    <div class="list-item" v-for="lol in 10" :key="lol">
      <b-row align-v="center">
        <b-col cols="8">
          <span class="prize" v-if="!promocode">10 000 sum</span>
          <br v-if="!promocode" />
          <span :class="promocode ? 'prize' : 'promocode'">ZXC ASD QWE</span>
        </b-col>
        <b-col cols="4">
          <span class="date">29.02.2020</span>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    promocode: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="css">
.list {
  border: 2px solid #dba514;
  border-radius: 15px;
  padding: 0.5em;
  background-color: #004284;
  height: 100%;
}
.list .list-item {
  border-bottom: 1px solid #dba514;
  color: #dba514;
}
.list .list-item:last-child {
  border-bottom: none;
}

.list .list-item span.prize {
  font-size: 1.5em;
  font-weight: 700;
}
.list .list-item span.promocode {
  font-size: 0.8em;
}
.list .list-item span.date {
  font-size: 0.8em;
  opacity: 0.8;
}
</style>