<template>
  <div class="coins">
    <BackBtn />
    <div class="p-2">
      <Header heading="h5" align="left" title="История игр" />
      <List />
    </div>
  </div>
</template>

<script>
import BackBtn from "@/components/BackBtn";
import Header from "@/components/Header";
import List from "@/components/List";

export default {
  components: {
    BackBtn,
    Header,
    List
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.coins {
  height: 100%;
  background-image: url("~assets/img/opacity-bg.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
</style>
