<template>
  <div class="coins">
    <b-row align-v="center" align-h="start">
      <b-col cols="1">
        <BackBtn />
      </b-col>
      <b-col cols="3">
        <Button text="победители" />
      </b-col>
      <b-col cols="2">
        <Button text="призы" />
      </b-col>
      <b-col cols="2">
        <Button text="24/24" />
      </b-col>
      <b-col cols="3">
        <Button text="12 546 897" />
      </b-col>
    </b-row>
    <div class="game-area">
      <div v-for="row in 3" :key="row" class="rows">
        <div class="game-item" v-for="col in 8" :key="col">
          <img src="~assets/img/cover.png" alt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BackBtn from "@/components/BackBtn";
import Button from "@/components/Button";

export default {
  components: {
    BackBtn,
    Button
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.game-area {
  margin-top: 1em;
  border: 2px solid #dba514;
  border-radius: 15px;
  background-image: radial-gradient(#065aaf, #023c52);
  padding: 0.2em;
}
.rows {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3px;
}
.game-area .game-item {
  width: 3rem;
  margin: 0.4em;
  justify-self: center;
}
.game-area .game-item img {
  width: 100%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.coins {
  height: 100%;
  background-image: url("~assets/img/opacity-bg.png");
  background-size: cover;
  background-position-y: bottom;
}
</style>
