<template >
  <div class="bkg">
    <nuxt />
  </div>
</template>

<script>
export default {
  transition(to, from) {
    if (!from) return "slide-left";
    return +to.query.page < +from.query.page ? "slide-right" : "slide-left";
  }
};
</script>

<style>
.bkg {
  margin: 0 auto;
  height: 100vh;
  /* max-height: 100%; */
  background-image: radial-gradient(#065aaf, #023c52);
}
</style>
