<template>
  <div class="coins">
    <div class="user-info">
      <b-row align-v="center">
        <b-col cols="4">
          <img src="~assets/img/user.png" class="user-photo" />
        </b-col>
        <b-col cols="8">
          <div style="font-size: 0;">
            <span class="whole">35,</span>
            <span class="qutient">000 сум</span>
          </div>
        </b-col>
      </b-row>
      <div>
        <Header align="left" color="#DBA514" heading="h4" title="Абдуллаев Абдулла" />
        <span class="info">25 лет, Ташкент</span>
      </div>
    </div>

    <div class="col-12 mt-4 text-center">
      <Button fullWidth @click="$router.push('/promocode')" text="ввести промокод" />
    </div>
    <div class="col-12 mt-4 text-center grouped-btn">
      <Button fullWidth @click="$router.push('/game')" text="Начать игру" />
      <Button fullWidth @click="$router.push('/game/history')" text="история игр" />
      <Button fullWidth @click="$router.push('/game/offline')" text="оффлайн игра" />
    </div>
    <div class="col-12 mt-4 text-center">
      <Button fullWidth @click="$router.push('/promocode/my')" text="Мои промокоды" />
    </div>
    <div class="col-12 mt-4 text-center">
      <Button fullWidth @click="$router.push('/payment')" text="платежные данные" />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Button from "@/components/Button";
export default {
  components: {
    Header,
    Button
  },
  data() {
    return {
      user: {
        fio: "",
        city: "",
        birthDate: "",
        sex: ""
      },
      phoneNumber: "+998 (9",
      smsCode: "",
      smsForm: false,
      steps: 0
    };
  },
  methods: {
    save() {
      this.$router.push("/");
    },
    attachPhoto(event) {
      this.user.photo = event.target.files[0];
    }
  }
};
</script>

<style scoped>
.grouped-btn button {
  display: block;
}
.grouped-btn button:not(:last-child) {
  border-bottom: none;
}
.grouped-btn:after {
  content: "";
  clear: both;
  display: table;
}
.whole {
  font-size: 2.5rem;
  font-weight: 500;
  color: #dba514;
}
.qutient {
  font-size: 1.75rem;
  color: #dba514;
}
.user-info {
  padding: 1rem;
}
.user-info .info {
  color: #dba514;
  font-size: 1em;
}
.user-photo {
  border: 2px solid #dba514;
  border-radius: 50%;
  font-weight: 600;
  width: 6rem;
  height: 6rem;
}

.coins {
  height: 100%;
  background-image: url("~assets/img/opacity-bg.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  color: #dba514;
}
</style>
