<template>
  <div class="coins">
    <BackBtn />
    <div class="user-info">
      <b-row align-v="center">
        <b-col cols="4">
          <img src="~assets/img/user.png" class="user-photo" />
        </b-col>
        <b-col cols="8">
          <div style="font-size: 0;">
            <span class="whole">35,</span>
            <span class="qutient">000 сум</span>
          </div>
        </b-col>
      </b-row>
      <div>
        <Header align="left" color="#DBA514" heading="h4" title="Абдуллаев Абдулла" />
        <span class="info">25 лет, Ташкент</span>
      </div>
    </div>
    <div class="col-12 input">
      <label for="phone">Номер карты</label>
      <input id="phone" v-model="cardNum" v-mask="'8600 #### #### ####'" />
      <br />
      <small>abdullaey abdulla</small>
    </div>
    <div class="mt-4 text-center">
      <Button @click="save" text="Сохранить" />
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import BackBtn from "@/components/BackBtn";

import Button from "@/components/Button";
export default {
  components: {
    Header,
    Button,
    BackBtn
  },
  data() {
    return {
      cardNum: "8600"
    };
  },
  methods: {}
};
</script>

<style scoped>
.input small {
  text-align: left !important;
  text-transform: uppercase;
  font-weight: 500;
  color: #dba514;
}

.input {
  text-align: center;
  margin-top: 1rem;
}
.input input {
  color: #dba514;
  padding: 0.3em;
  border: 2px solid #dba514;
  border-radius: 10px;
  font-size: 18pt;
  text-align: center;
  font-weight: 600;
  width: 18rem;
  margin: 0 auto;
  background-color: #004284;
}
label {
  text-align: left !important;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #dba514;
}

.whole {
  font-size: 2.5rem;
  font-weight: 500;
  color: #dba514;
}
.qutient {
  font-size: 1.75rem;
  color: #dba514;
}
.user-info {
  padding: 1rem;
}
.user-info .info {
  color: #dba514;
  font-size: 1em;
}
.user-photo {
  border: 2px solid #dba514;
  border-radius: 50%;
  font-weight: 600;
  width: 6rem;
  height: 6rem;
}

.coins {
  height: 100%;
  background-image: url("~assets/img/opacity-bg.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.caption {
  text-transform: uppercase;
  font-weight: 500;
  color: #dba514;
}
</style>
